@import "tailwindcss";

body {
  font-family: 'JetBrains Mono', monospace;
}

.fade-enter {
    opacity: 0;
  }
  .fade-enter-active {
    opacity: 1;
    transition: opacity 400ms ease-in-out;
  }
  .fade-exit {
    opacity: 1;
  }
  .fade-exit-active {
    opacity: 0;
    transition: opacity 400ms ease-in-out;
  }  

  ::view-transition-old(root),
  ::view-transition-new(root) {
    animation: fade 0.4s ease-in-out;
  }
  
  @keyframes fade {
    from { opacity: 0; }
    to { opacity: 1; }
  }

@keyframes slide-fade-in {
  from {
    opacity: 0;
    transform: translateY(2vh);
}
}

@media (prefers-reduced-motion: no-preference) {
  .blur-animation {
    view-timeline-name: --item-timeline;
    view-timeline-axis: block; 
    animation: slide-fade-in both;
    animation-timeline: --item-timeline;
    animation-range: contain 0% contain 50%;
  }
}

@keyframes fade-out-down {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-2vh);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .scroll-fade-out {
    view-timeline-name: --scroll-down;
    view-timeline-axis: block;
    animation: fade-out-down both;
    animation-timeline: --scroll-down;
    animation-range: contain 0% contain 100%;
  }
}